<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="homework3.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="homework3.android.Homework3AndroidActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity android:name=".TestFrame" />
         <activity android:name=".TestTestFrame"
             android:label="TestTestFrame" />
         <activity android:name=".TestOutlineRect"
             android:label="TestRect" />
         <activity android:name=".TestFilledRect"
             android:label="TestFilledRect" />
                  <activity android:name=".TestText"
             android:label="TestText" />
         <activity android:name=".TestAllObjects"
             android:label="TestAllObjects" />
         <activity android:name=".TestSimpleGroup"
             android:label="TestSimpleGroup" />
         <activity android:name=".TestScaledGroup"
             android:label="TestScaledGroup" />
         <activity android:name=".BetterTestSimpleGroup"
             android:label="BetterTestSimpleGroup" />
         <activity android:name=".TestLayoutGroup"
             android:label="TestLayoutGroup" />
         <activity android:name=".TestAllTests"
             android:label="TestAllTests" />
         <activity android:name=".TestHomework2"
             android:label=".TestHomework2" />
         <activity android:name=".TestWindowGroup"
             android:label=".TestWindowGroup" />
         <activity android:name=".TestInteractiveWindowGroup"
             android:label=".TestInteractiveWindowGroup" />    
         <activity android:name=".TestNewRectBehavior"
             android:label=".TestNewRectBehavior" />                   
    </application>

</manifest>